driver_path: D:\path\to\chromedriver.exe
facebook:
  user:
  pwd:
gmail:
  user:
  pwd:
instagram:
  user:
  pwd:
linkedin:
  user:
  pwd:
leetcode:
  cookies:
    LEETCODE_SESSION: abc.abc.dfvhbdjfv....
    messages: abc$[["__json_message",0,24,"Successfully signed in as user."]]
    newrelic_id: XXXXXXVRGwIAUVhbAXXXXlQ=
  global_lang: python3
